@charset "UTF-8";
/*-------------------------------------------------------*/
/*-------------------- Style ogólne ---------------------*/
/*-------------------------------------------------------*/
header, nav, main, aside, footer, article, section {
  display: block; }

noscript p {
  position: fixed;
  z-index: 100;
  font-size: 32px;
  text-align: center;
  width: 100%;
  margin: 0;
  background-color: #21D9B5;
  padding: 20px;
  line-height: 1;
  -moz-box-shadow: 0 20px 10px #ffffff;
  -webkit-box-shadow: 0 20px 10px #ffffff;
  box-shadow: 0 20px 10px #ffffff; }

body {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  color: #ffffff;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }

.container-fluid {
  position: relative; }

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: #160c28;
  background-color: rgba(22, 12, 40, 0.7);
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .pop-up .description {
    border: 1px solid #ffffff;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color: #21D9B5;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: -1; }
    .pop-up .description .skill-description, .pop-up .description .project-description {
      color: #ffffff; }

.show-pop-up {
  z-index: 101;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.section {
  position: relative;
  overflow: hidden; }
  .section .line {
    width: 10px;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
  .section .show-line {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
    -moz-transition: opacity 1s ease-in-out 0.6s;
    -webkit-transition: opacity 1s ease-in-out 0.6s;
    -o-transition: opacity 1s ease-in-out 0.6s;
    transition: opacity 1s ease-in-out 0.6s; }
  .section:nth-child(2) .line {
    top: 50%;
    height: 50%; }
  .section:last-child .line {
    height: 50%; }
  .section .box:nth-child(3) .box-content {
    float: right; }
  .section .box:last-child .box-content {
    float: left; }

.line-box {
  position: relative;
  top: 50%; }
  .line-box .circle {
    width: 100%;
    max-width: 200px;
    margin: 0;
    background-color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 10px solid #ffffff;
    -moz-box-shadow: inset 0 0 5px #160c28;
    -webkit-box-shadow: inset 0 0 5px #160c28;
    box-shadow: inset 0 0 5px #160c28;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    -moz-transition: background-size 0.5s ease-in-out;
    -webkit-transition: background-size 0.5s ease-in-out;
    -o-transition: background-size 0.5s ease-in-out;
    transition: background-size 0.5s ease-in-out; }
  .line-box .show-circle {
    background-size: 100%;
    -moz-transition: background-size 0.5s ease-in-out;
    -webkit-transition: background-size 0.5s ease-in-out;
    -o-transition: background-size 0.5s ease-in-out;
    transition: background-size 0.5s ease-in-out; }

.box-content {
  background-color: #160c28;
  background-color: rgba(22, 12, 40, 0.5);
  width: 90%;
  max-width: 500px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0 auto;
  overflow: hidden; }
  .box-content h1, .box-content h2 {
    position: relative;
    margin: -36px 0;
    line-height: 1;
    top: 50%;
    font-size: 36px;
    padding: 0 20px; }
  .box-content .content {
    position: relative;
    top: 10px;
    left: 10px;
    overflow: hidden;
    border: 1px solid #ffffff; }

.line-box {
  top: 50%;
  margin-top: -100px; }

.box {
  top: 50%;
  margin-top: -200px;
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

.opaque {
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

.no-padding {
  padding: 0; }

.skill-hint, .portfolio-hint {
  text-align: center;
  width: 80%;
  font-size: 32px;
  line-height: 1;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .skill-hint span:first-child, .portfolio-hint span:first-child {
    font-size: 100px;
    text-align: center;
    display: block;
    color: #21D9B5; }

.description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .description .close-description {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0 !important;
    cursor: pointer;
    background-image: url("../images/close.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    -moz-transition: background-size 0.3s ease;
    -webkit-transition: background-size 0.3s ease;
    -o-transition: background-size 0.3s ease;
    transition: background-size 0.3s ease; }
    .description .close-description:hover {
      background-size: 100%;
      -moz-transition: background-size 0.3s ease;
      -webkit-transition: background-size 0.3s ease;
      -o-transition: background-size 0.3s ease;
      transition: background-size 0.3s ease; }
  .description .skill-title, .description .project-title, .description .project-link {
    position: absolute;
    font-size: 32px;
    margin: 0;
    height: 40px;
    background-color: #ffffff;
    color: #160c28;
    line-height: 52px;
    padding: 0 20px;
    font-weight: bold; }
  .description .project-link {
    width: 100%;
    text-align: center;
    bottom: 0;
    border: none;
    color: #160c28;
    -moz-transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease; }
    .description .project-link i {
      margin-right: 10px; }
    .description .project-link:link {
      text-decoration: none; }
    .description .project-link:hover {
      text-decoration: none; }
    .description .project-link:active {
      font-size: 30px;
      -moz-transition: font-size 0.3s ease;
      -webkit-transition: font-size 0.3s ease;
      -o-transition: font-size 0.3s ease;
      transition: font-size 0.3s ease; }
  .description .skill-description, .description .project-description {
    margin: 0;
    padding: 0 20px;
    text-align: justify;
    top: 50%;
    position: relative;
    color: #21D9B5; }

.show {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.show-in-pop-up {
  z-index: 101 !important;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-transition: opacity 0.5s ease !important;
  -webkit-transition: opacity 0.5s ease !important;
  -o-transition: opacity 0.5s ease !important;
  transition: opacity 0.5s ease !important; }

.block-right {
  display: inline;
  color: #21D9B5; }

.block-down {
  display: none;
  color: #21D9B5; }

.page-info {
  position: absolute;
  bottom: 0;
  background-color: #160c28;
  background-color: rgba(22, 12, 40, 0.5); }
  .page-info p {
    margin: 0;
    text-align: center;
    padding: 10px 0; }
    .page-info p span {
      color: #21D9B5; }

/*-------------------------------------------------------*/
/*--------------- Style dla sekcji HEADER ---------------*/
/*-------------------------------------------------------*/
header nav {
  font-size: 20px !important;
  line-height: 1.5em;
  position: fixed !important;
  top: 0;
  z-index: 100;
  -moz-transition: margin-top 0.5s ease-out;
  -webkit-transition: margin-top 0.5s ease-out;
  -o-transition: margin-top 0.5s ease-out;
  transition: margin-top 0.5s ease-out; }
  header nav .nav-container {
    background-color: #160c28;
    background-color: rgba(22, 12, 40, 0.5); }
  header nav ul {
    margin: 0;
    padding: 0; }
    header nav ul li {
      list-style-type: none;
      float: left;
      width: 20%; }
      header nav ul li a {
        display: block;
        text-align: center;
        color: #ffffff;
        position: relative;
        padding: 10px; }
        header nav ul li a:link, header nav ul li a:hover {
          text-decoration: none;
          color: #ffffff; }
        header nav ul li a:hover span {
          width: 20%;
          -moz-transition: width 0.3s ease;
          -webkit-transition: width 0.3s ease;
          -o-transition: width 0.3s ease;
          transition: width 0.3s ease; }
        header nav ul li a:focus {
          outline: none; }
      header nav ul li span {
        position: absolute;
        width: 0;
        height: 2px;
        left: 0;
        bottom: 5px;
        background-color: #21D9B5;
        margin: 0 40%;
        -moz-transition: width 0.2s ease;
        -webkit-transition: width 0.2s ease;
        -o-transition: width 0.2s ease;
        transition: width 0.2s ease; }
      header nav ul li .underlined {
        width: 20%;
        -moz-transition: width 0.2s ease;
        -webkit-transition: width 0.2s ease;
        -o-transition: width 0.2s ease;
        transition: width 0.2s ease; }

header .hamburger-button {
  display: none;
  background-color: #21D9B5;
  cursor: pointer;
  border: 0;
  padding: 0;
  position: fixed;
  top: 255px;
  right: 0;
  z-index: 100;
  margin-top: -255px;
  -moz-transition: margin-top 0.5s ease-out;
  -webkit-transition: margin-top 0.5s ease-out;
  -o-transition: margin-top 0.5s ease-out;
  transition: margin-top 0.5s ease-out; }
  header .hamburger-button i {
    font-size: 50px;
    padding: 5px 10px;
    color: #160c28; }

header .visible-menu {
  margin-top: 0;
  -moz-transition: margin-top 0.5s ease-out;
  -webkit-transition: margin-top 0.5s ease-out;
  -o-transition: margin-top 0.5s ease-out;
  transition: margin-top 0.5s ease-out; }

header .line-box .circle {
  background-image: url(../images/hello.png); }

header .box .box-content {
  background-color: #160c28 !important; }
  header .box .box-content span {
    color: #21D9B5; }

header .box:nth-child(5) .box-content {
  float: right; }

header .box:last-child .box-content {
  float: left; }

header .box .box-content {
  width: 60%;
  max-width: 300px;
  border: 1px solid #ffffff;
  text-align: center;
  font-size: 26px; }

/*-------------------------------------------------------*/
/*-------------- Style dla sekcji ABOUT ME --------------*/
/*-------------------------------------------------------*/
#about-me .line-box .circle {
  background-image: url(../images/about.png); }

#about-me #few-words-about {
  margin: 0;
  padding: 0 20px;
  text-align: justify;
  top: 50%;
  position: relative; }
  #about-me #few-words-about span {
    margin-bottom: 30px;
    text-align: center;
    display: block;
    font-size: 42px;
    line-height: 42px;
    color: #21D9B5; }

/*-------------------------------------------------------*/
/*-------------- Style dla sekcji SKILLS ----------------*/
/*-------------------------------------------------------*/
#skills .line-box .circle {
  background-image: url(../images/skills.png); }

#skills .skill-box {
  padding: 0;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease; }

#skills .white-bg {
  background-color: #ffffff; }

#skills .equal {
  padding: 0;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer; }

#skills .coloured-bg {
  background-image: url("../images/skills-sprite-coloured.png");
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

#skills .gray-bg {
  background-image: url("../images/skills-sprite-gray.png"); }

#skills .visible {
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

#skills .clicked {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition: -moz- transform 0.1s ease;
  -webkit-transition: -webkit- transform 0.1s ease;
  -o-transition: -o- transform 0.1s ease;
  transition: -webkit- transform 0.1s ease;
  transition: transform 0.1s ease; }

#skills .clicked-coloured {
  filter: alpha(opacity=100);
  opacity: 1; }

/*-------------------------------------------------------*/
/*-------------- Style dla sekcji PORTFOLIO -------------*/
/*-------------------------------------------------------*/
#portfolio .carousel-content {
  padding: 0; }

#portfolio #portfolio-carousel {
  height: 100%; }
  #portfolio #portfolio-carousel .carousel-navigation, #portfolio #portfolio-carousel .indicators-container {
    height: 10%; }
  #portfolio #portfolio-carousel .indicators-container {
    -moz-transition: bottom 0.3s ease;
    -webkit-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
    background-color: #ffffff;
    position: absolute;
    z-index: 30;
    bottom: 0;
    text-align: center; }
    #portfolio #portfolio-carousel .indicators-container .carousel-indicators {
      display: inline-block;
      left: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      width: auto;
      position: relative; }
      #portfolio #portfolio-carousel .indicators-container .carousel-indicators li {
        display: block;
        width: 25px;
        height: 25px;
        margin: 0 10px;
        cursor: pointer;
        background-color: transparent;
        border: 5px solid #160c28;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        float: left; }
        #portfolio #portfolio-carousel .indicators-container .carousel-indicators li.active {
          background-color: #160c28; }
  #portfolio #portfolio-carousel .carousel-navigation {
    -moz-transition: top 0.3s ease;
    -webkit-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    transition: top 0.3s ease;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 30; }
    #portfolio #portfolio-carousel .carousel-navigation .carousel-control {
      width: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      filter: alpha(opacity=100);
      opacity: 1; }
    #portfolio #portfolio-carousel .carousel-navigation .left {
      background-image: url("../images/arrow-left.png"); }
      #portfolio #portfolio-carousel .carousel-navigation .left:hover {
        background-image: url("../images/arrow-left-fill.png"); }
      #portfolio #portfolio-carousel .carousel-navigation .left:active {
        left: -2px; }
    #portfolio #portfolio-carousel .carousel-navigation .right {
      background-image: url("../images/arrow-right.png"); }
      #portfolio #portfolio-carousel .carousel-navigation .right:hover {
        background-image: url("../images/arrow-right-fill.png"); }
      #portfolio #portfolio-carousel .carousel-navigation .right:active {
        right: -2px; }
  #portfolio #portfolio-carousel .carousel-inner {
    height: 100%;
    z-index: 10;
    position: absolute; }
    #portfolio #portfolio-carousel .carousel-inner .item {
      height: 100%;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      -moz-transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
      -webkit-transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
      -o-transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
      transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out; }
      #portfolio #portfolio-carousel .carousel-inner .item .project-title-circle {
        font-size: 30px;
        color: #21D9B5;
        position: relative;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        margin: 0;
        text-align: center;
        background-color: #160c28;
        background-color: rgba(22, 12, 40, 0.9);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 10px solid #21D9B5;
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        #portfolio #portfolio-carousel .carousel-inner .item .project-title-circle p {
          position: relative;
          margin: 0;
          top: 50%;
          height: 30px;
          line-height: 40px;
          margin-top: -15px; }
        #portfolio #portfolio-carousel .carousel-inner .item .project-title-circle::before {
          content: '';
          position: absolute;
          top: 10%;
          left: 50%;
          margin-left: -17px;
          width: 0;
          height: 0;
          border-left: 17px solid transparent;
          border-right: 17px solid transparent;
          border-top: 25px solid #21D9B5;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        #portfolio #portfolio-carousel .carousel-inner .item .project-title-circle::after {
          content: '';
          position: absolute;
          bottom: 10%;
          left: 50%;
          margin-left: -17px;
          width: 0;
          height: 0;
          border-left: 17px solid transparent;
          border-right: 17px solid transparent;
          border-bottom: 25px solid #21D9B5;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        #portfolio #portfolio-carousel .carousel-inner .item .project-title-circle .border-element {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent !important;
          border: 3px solid #21D9B5;
          z-index: -1;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          filter: alpha(opacity=0);
          opacity: 0; }

@-webkit-keyframes click {
  0% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    filter: alpha(opacity=100);
    opacity: 1; }
  100% {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    filter: alpha(opacity=0);
    opacity: 0; } }

@-moz-keyframes click {
  0% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    filter: alpha(opacity=100);
    opacity: 1; }
  100% {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    filter: alpha(opacity=0);
    opacity: 0; } }

@-o-keyframes click {
  0% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    filter: alpha(opacity=100);
    opacity: 1; }
  100% {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    filter: alpha(opacity=0);
    opacity: 0; } }

@keyframes click {
  0% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    filter: alpha(opacity=100);
    opacity: 1; }
  100% {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    filter: alpha(opacity=0);
    opacity: 0; } }
        #portfolio #portfolio-carousel .carousel-inner .item .project-title-circle .click {
          -webkit-animation: click 0.5s ease;
          -moz-animation: click 0.5s ease;
          -o-animation: click 0.5s ease;
          animation: click 0.5s ease; }
      #portfolio #portfolio-carousel .carousel-inner .item:hover {
        background-size: 120%;
        -moz-box-shadow: inset 0 0 200px 50px #000000;
        -webkit-box-shadow: inset 0 0 200px 50px #000000;
        box-shadow: inset 0 0 200px 50px #000000;
        -moz-transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
        -webkit-transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
        -o-transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
        transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out; }
      #portfolio #portfolio-carousel .carousel-inner .item .show-slide-title {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    #portfolio #portfolio-carousel .carousel-inner .chosen {
      cursor: default;
      background-size: 120%;
      -moz-box-shadow: inset 0 0 200px 50px #000000;
      -webkit-box-shadow: inset 0 0 200px 50px #000000;
      box-shadow: inset 0 0 200px 50px #000000;
      -moz-transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
      -webkit-transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
      -o-transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
      transition: background-size 0.3s ease, box-shadow 0.3s ease, -moz-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, transform 0.6s ease-in-out; }
      #portfolio #portfolio-carousel .carousel-inner .chosen .project-title-circle {
        -moz-transform: scale(1) !important;
        -webkit-transform: scale(1) !important;
        -o-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        transform: scale(1) !important;
        -moz-transition: all 0.3s ease !important;
        -webkit-transition: all 0.3s ease !important;
        -o-transition: all 0.3s ease !important;
        transition: all 0.3s ease !important; }
    #portfolio #portfolio-carousel .carousel-inner #jkmechanika {
      background-image: url("../images/jkmechanika.jpg"); }
    #portfolio #portfolio-carousel .carousel-inner #burza-mozgow {
      background-image: url("../images/burza-mozgow.jpg"); }

#portfolio .under {
  bottom: -10% !important;
  -moz-transition: bottom 0.3s ease;
  -webkit-transition: bottom 0.3s ease;
  -o-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease; }

#portfolio .above {
  top: -10% !important;
  -moz-transition: top 0.3s ease;
  -webkit-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease; }

#portfolio .line-box .circle {
  background-image: url(../images/portfolio.png); }

/*-------------------------------------------------------*/
/*-------------- Style dla sekcji FOOTER ----------------*/
/*-------------------------------------------------------*/
footer .box:nth-child(4) .box-content {
  float: left; }

footer .contact-text {
  height: 20%;
  position: relative; }
  footer .contact-text p {
    margin: -19px 0 0;
    text-align: center;
    font-size: 38px;
    line-height: 1;
    width: 100%;
    top: 50%;
    position: absolute; }

footer .contact-content {
  height: 60%;
  width: 60%;
  margin: 10% 20%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 10px solid #21D9B5;
  position: relative;
  display: block; }

footer .mail-me {
  background-image: url("../images/contact-block.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: #160c28;
  -moz-transition: background-size 0.3s ease;
  -webkit-transition: background-size 0.3s ease;
  -o-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease; }
  footer .mail-me:hover {
    background-size: 70%;
    -moz-transition: background-size 0.3s ease;
    -webkit-transition: background-size 0.3s ease;
    -o-transition: background-size 0.3s ease;
    transition: background-size 0.3s ease; }
  footer .mail-me:active {
    background-size: 60%;
    -moz-transition: background-size 0.3s ease;
    -webkit-transition: background-size 0.3s ease;
    -o-transition: background-size 0.3s ease;
    transition: background-size 0.3s ease; }

footer .find-me {
  background-color: #160c28;
  overflow: hidden; }

footer .social-media {
  width: 50%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  position: absolute; }

footer #goldenline {
  background-image: url("../images/goldenline.png");
  right: 0;
  -moz-transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

footer #linkedin {
  background-image: url("../images/linkedin.png");
  left: 0;
  -moz-transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

footer .majority {
  width: 100%;
  -moz-transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

footer .minority {
  width: 0;
  -moz-transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

footer .line-box .circle {
  background-image: url(../images/contact.png); }

/*-------------------------------------------------------*/
/*-------------------- MEDIA QUERIES --------------------*/
/*-------------------------------------------------------*/
@media all and (min-width: 1200px) {
  body {
    font-size: 24px; } }

@media all and (max-width: 1499px) {
  .project-title-circle p {
    font-size: 26px !important; } }

@media all and (max-width: 1399px) {
  .project-title-circle p {
    font-size: 24px !important; } }

@media all and (max-width: 1099px) {
  .box-content {
    width: 95%; }
  .project-title-circle p {
    font-size: 22px !important; } }

@media all and (max-width: 991px) {
  .box-content {
    float: none !important;
    margin: 0 auto; }
  .circle {
    margin: 0 auto !important; }
  .line-box {
    margin: 0 !important; }
  .box {
    top: initial;
    margin: 20px 0 !important; }
  .section:nth-child(2) .line {
    height: 100%;
    top: 0; }
  .section:last-child .line {
    display: none; }
  .page-info {
    position: static !important; }
  #portfolio #portfolio-carousel .carousel-inner .item:hover, #portfolio #portfolio-carousel .carousel-inner .chosen {
    background-size: 100%; }
  #portfolio #portfolio-carousel .carousel-inner .item .project-title-circle {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .hamburger-button {
    display: inline-block !important; }
  header nav {
    margin-top: -255px; }
  header nav ul {
    padding: 0 !important; }
  header nav ul li {
    float: none;
    width: 100%;
    border-bottom: 1px solid #21D9B5; }
  header nav ul li a span {
    display: none; }
  .nav-container {
    background-color: #160c28 !important; } }

@media all and (max-width: 867px) {
  #about-me #few-words-about span {
    margin-bottom: 0; }
  .project-title-circle p {
    font-size: 20px !important; } }

@media all and (max-width: 804px) {
  body {
    font-size: 18px; } }

@media all and (max-width: 767px) {
  body {
    font-size: 24px; }
  .box-content {
    background-color: #ffffff !important;
    border: 1px solid #fff; }
  .content {
    background-color: #160c28; }
  .section:last-child .line {
    display: block;
    height: 80%; }
  #about-me #few-words-about span {
    margin-bottom: 30px; }
  .line {
    filter: alpha(opacity=0) !important;
    opacity: 0 !important;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
  .project-title-circle p {
    font-size: 30px !important; }
  .box-content .content {
    top: 0;
    left: 0;
    border: 0; }
  .block-right {
    display: none; }
  .block-down {
    display: inline; }
  #welcome .box:nth-child(4), #about-me .box:nth-child(3), #skills .box:nth-child(3), #portfolio .box:nth-child(3), #contact .box:nth-child(3) {
    margin-top: 40px !important; }
  #welcome .box:nth-child(5), #about-me .box:nth-child(4), #skills .box:nth-child(4), #portfolio .box:nth-child(4), #contact .box:nth-child(4) {
    margin-bottom: 40px !important; } }

@media (max-width: 499px) and (orientation: landscape) {
  .description .skill-description, .description .project-description {
    font-size: 20px; } }

@media all and (max-width: 499px) {
  .project-title-circle p {
    font-size: 22px !important; } }

@media all and (max-width: 454px) {
  body {
    font-size: 20px; } }

@media all and (max-width: 399px) {
  .project-title-circle p {
    font-size: 18px !important; }
  header .box .box-content {
    width: 75%; }
  .box-content {
    width: 100%; }
  body {
    font-size: 18px; }
  #about-me #few-words-about span {
    font-size: 32px; }
  .hamburger-button i {
    font-size: 40px !important; } }

@media all and (max-width: 380px) {
  #about-me #few-words-about span {
    margin-bottom: 0; }
  #portfolio #portfolio-carousel .indicators-container .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-width: 3px; } }

@media all and (max-width: 349px) {
  body {
    font-size: 16px; }
  .skill-hint, .portfolio-hint {
    font-size: 26px; }
  #portfolio #portfolio-carousel .carousel-inner .item .project-title-circle {
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%; }
  footer .contact-text p {
    font-size: 32px; } }

@media all and (max-width: 299px) {
  header .box .box-content {
    width: 100%; }
  body {
    font-size: 12px; }
  .skill-hint, .portfolio-hint {
    font-size: 20px; }
  footer .contact-text p {
    font-size: 28px; }
  .hamburger-button i {
    font-size: 30px !important; } }
